.border {
    border-radius: 10px;
}
.product-card {
    position: relative;
    img {
        width: 100%;
        border-radius: 5px;
        object-fit: contain;
        transition: 0.2s ease-in-out;
        border: 0px solid var(--primary);
        overflow: hidden;
        aspect-ratio: 3/2;
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        &:hover {
            opacity: 0.7;
            transform: scale(1.1);
        }
    }
    .product-details {
        margin-top:50px;
     p {
        &:first-child {
            font-size: 15px;
            font-weight: 500;
            color: #292828;
        }
     }
    }
    .description {
        font-size: 12px;
    color: #636161;
    }
    .favori-btn {
        position: absolute;
        font-size: 20px;
        top: 10px;
        right: 0;
    }
}

.shopping-card {
    margin-top:20px;
    .product-price {
        font-size: 18px;
        font-weight: 600;
        color: #161616;
        margin: 0;
    }
    button {
        appearance: none;
        color:#fff;
        background-color: #32C974;
        border: 1px solid rgba(27, 31, 35, 0.15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 14px;
        padding:6px 15px;
        opacity: .8;
        &:hover {
            opacity: .9;
        }
    }
    
    
}

